body {
    font-family: Arial;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
}

h2 {
    color: #444;
}

hr {
    margin: 20px 0;
}

a {
    color: blue;
}

a:hover {
    color: darkblue;
}